<div id = "content">
    <div class = "correo">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email or Phone" [(ngModel)]="agregarUser.numberOemail">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
    </div>
    <div class = "btns">
        <button (click) = "aggContact()" id="agregarContacto">Agregar contacto</button>
        <button (click) = "cerrar()" id="exit">Cerrar</button>
    </div>
</div>